# 데이터 불러오기

In [11]:
# 작업 경로 설정
import os
os.chdir(r"/Users/hmp/local/repos/dacon/퇴근시간버스승차인원예측")

# 1. Unique 한 장소 추출

In [21]:
# 3 개의 csv 파일에서 위도와 경도 피쳐만을 가져옵니다.
import pandas as pd
life = pd.read_csv('secu_data/jeju_financial_life_data.csv')[['x_axis', 'y_axis']]
train = pd.read_csv('secu_data/train.csv')[['latitude','longitude']]
test = pd.read_csv('secu_data/test.csv')[['latitude','longitude']]
# pd.concat() 은 여러개의 동일한 형태의 df 를 합쳐줍니다.
df = pd.concat([train, test], axis=0)

## 1.1 df(train, test)

In [15]:
# location(latitude + longitude) 변수 생성
df['location'] = df['latitude'].astype(str) + ',' + df['longitude'].astype(str)
df = df[['location','longitude','latitude']]
df.head()

                      location  longitude  latitude
0            33.4899,126.49373  126.49373  33.48990
1           33.48944,126.48508  126.48508  33.48944
2           33.48181,126.47352  126.47352  33.48181
3           33.50577,126.49252  126.49252  33.50577
4  33.255790000000005,126.4126  126.41260  33.25579

In [16]:
# 겹치는 장소들을 제외합니다.
location_df = pd.DataFrame(df.location.unique(), columns=['location'])
location_df['latitude'] = location_df.location.str.split(',').str[0]
location_df['longitude'] = location_df.location.str.split(',').str[1]
location_df.shape # 총 3600개의 데이터

(3600, 3)

In [19]:
# 위 데이터를 csv 파일에 저장합니다
location_df.to_csv('df_unique_loc.csv',encoding='cp949',index=False)

## 1.2 jeju_financial_life_data

In [22]:
# location(y_axis + x_axis) 변수 생성
life['latitude'] = life['y_axis'].astype(str).str[:10]
life['longitude'] = life['x_axis'].astype(str).str[:10]
life['location'] = life['latitude'] + ',' + life['longitude']
life = life[['location','longitude','latitude']]
life.head()

                location   longitude    latitude
0  33.5132095,126.565889  126.565889  33.5132095
1  33.2472248,126.497120  126.497120  33.2472248
2  33.2472248,126.497120  126.497120  33.2472248
3  33.2472248,126.497120  126.497120  33.2472248
4  33.2472248,126.497120  126.497120  33.2472248

In [23]:
# unique한 장소 추출
location_life = pd.DataFrame(life.location.unique(),columns=['location'])
location_life['latitude'] = location_life.location.str.split(',').str[0]
location_life['longitude'] = location_life.location.str.split(',').str[1]
location_life.shape # 총 474개의 데이터

(474, 3)

In [24]:
# csv 파일 저장
location_life.to_csv('life_unique_loc.csv',encoding='cp949',index=False)

# 2. 지오코딩 프로그램(Geocorder-Xr)을 통해 행정 구역 이름을 추출

* 1. http://www.gisdeveloper.co.kr/?p=4784에 접속
* 2. Installer_DuraMap-Xr를 먼저 실행하고, Geocorder-Xr_(해당버전) 폴더에서 XrGeocoder 를 실행

## 2.1 How to use

life_unique_loc.csv

* [입력 파일]을 클릭하고 life_unique_loc.csv를 선택합니다.
* [좌표→주소]를 선택하고 경도 필드를 longitude, 위도 필드를 latitude로 설정합니다.
* [결과 SHP 파일]에 life_location를 입력 후 [결과를 CSV 파일 형태로도 저장]을 체크하고 시작을 누릅니다.

df_unique_loc.csv

* [입력 파일]을 클릭하고 df_unique_local.csv를 선택합니다.
* [좌표→주소]를 선택하고 경도 필드를 longitude, 위도 필드를 latitude로 설정합니다.
* [결과 SHP 파일]에 df_location를 입력 후 [결과를 CSV 파일 형태로도 저장]을 체크하고 시작을 누릅니다.

# 3. df_